<div id="cards">
  <div class="card">
    <img
      src="https://cdn-cf.gamivo.com/image_cover.jpg?f=39894&n=16592430106019007.jpg&h=551129fd6b7e467c0620423e16ac5017."
      class="card-img" alt="...">
    <div class="card-body">
      <!-- <h3 class="card-title">{{ games.results[2].name }}</h3> -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#"><button class="btn card-btn">View Game</button></a>
    </div>
  </div>
  <div class="card">
    <img
      src="https://gamespot1.cbsistatic.com/uploads/scale_landscape/1406/14063904/3307356-4408074781-4376aef55bbee8791e8a8ab75a7f99b1"
      class="card-img" alt="...">
    <div class="card-body">
      <h3 class="card-title">Super Mario Odyssey</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#"><button class="btn card-btn">View Game</button></a>
    </div>
  </div>
</div>
