<nav id="sidebar" class="sidebar active closebtn">
  <h1><a href="index.html" class="logo">R.</a></h1>
  <ul class="list">
    <li class="active">
      <a href="#"><span class="fas fa-camera"></span></a>
    </li>
    <li>
      <a href="#"><span class="fas fa-gamepad"></span></a>
    </li>
    <li>
      <a href="#"><span class="fas fa-heart"></span></a>
    </li>
    <li>
      <a href="#"><span class="fas fa-gift"></span></a>
    </li>
    <li>
      <a href="#"><span class="fas fa-paper-plane"></span></a>
    </li>
    <div class="input-group mb-3">
      <input type="text" class="form-control search" aria-label="Amount (to the nearest dollar)">
    </div>
  </ul>

  <div class="footer">
    <p>
    </p>
  </div>
</nav>
