$primary: #191e2a;
$secondary: #222939;
$dark: #0e141b;
$white: #ffffff;
$pink: #df1f4f;

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: $secondary;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
  &.active {
    min-width: 120px;
    max-width: 120px;
    text-align: center;
    .list {
        padding: 0;
      & li {
        font-size: 14px;
        & a {
          padding: 10px 0;
          text-decoration: none;
          border: none;
          margin: 2em 0;
          & span {
            margin-right: 0;
            display: block;
            font-size: 24px;
          }
        }
      }
    }
    .logo {
      color: $pink;
      height: 25vh;
    }

    .footer {
      display: none;
    }
  }

  .logo {
    display: block;
    color: $white;
    font-weight: 900;
  }

  ul {
    li {
      font-size: 16px;
      list-style: none;
      > ul {
        margin-left: 10px;
        li {
          font-size: 14px;
        }
      }
      a {
        padding: 10px 30px;
        display: block;
        color: rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        span {
          margin-right: 15px;
          // @include media-breakpoint-down(md) {
          //   display: block;
          // }
        }
        &:hover {
          color: $white;
        }
      }
      &.active {
        > a {
          background: transparent;
          color: $white;
        }
      }
    }
  }
}
